.fps-view {
  pointer-events: none;
  user-select: none;
  position: fixed;
  padding: 10px;
  z-index: 9999;
  display: flex;
}

.fps--view--container {
  display: flex;
  flex-direction: column;
}

/* Position variants */
.fps-view--top-left {
  top: 10px;
  left: 10px;
}

.fps-view--top-right {
  top: 10px;
  right: 10px;
}

.fps-view--bottom-left {
  bottom: 10px;
  left: 10px;
}

.fps-view--bottom-right {
  bottom: 10px;
  right: 10px;
}